a{
	color: #22BCE0;
}

body{
	background-image : url('../images/background_2_.png');
	background-repeat : no-repeat;
}
footer{
	
	font-family : Myriad Pro;
 	font-size : 8px;
  	color : #FFFFFF;
  	color : rgb(255, 255, 255);
  	background : #662C1E;
  	background : rgba(102, 44, 30, 1);
	text-align: center;
	padding: 1em;
}

header{

	background : #662C1E;
  	background : rgba(102, 44, 30, 1);
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header figure{

	float: left;
}


header #user{
	
	margin: 0.6em 0.5em 0 0;
	right: 0;
	position: absolute;
	top: 0;

}
header #user img{
	margin-left: 1em;
	display: inline-block;
	position: relative;
	width: 50px;

}
header #logo img{

	/*border-right: 1px solid white;*/
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 52px;
	
}

nav{

	margin 0;
}

nav ul{

	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul #propiedades{

	/*background: #009DA6;*/
	border-radius: 0.3em;

}

nav ul li{

	display: inline-block;
	margin: 0.7em 0.5em 0 0;
}
nav ul li a{

	color: white;
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}

.contenedor_lista{

	margin: 0.2em 0.2em 0.2em;
	background: white;
}

.tabs{

	background: olive;
	margin: 0;
	
}
.tabs ul{

	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs ul li{

	display: inline-block;
	margin: 0 1em 0 1em;

}

.tabs ul li #active{
	background: #519244;
	border-bottom: 0.1em;
	color: white;
	padding: 0 0.2em 0 0.2em;
}


.tabs ul li a{
	color: white;
	text-decoration: none;
}


.inmueble img{

	height: 130px;
	width: 200px;
}

#buscador{

	display: block;
	background: #D6CCBD;
	padding: 0 0 0.2em 0;
	position: relative;
	overflow: hidden;
}

#buscador a img{

	/*border-radius: 50px;*/
	display: inline-block;
	margin: 0.2em .5em 0.2em 0.2em;
	position: absolute;
	right: 0;
}

#fbuscar{
	
	display: inline-block;
	font-size: 1.3em;
	margin: .1em 0 0 0.5em; 
}

#buscar{
	
	margin: .5em 0 0.2em 1em;
	padding: .2em 1em 0.2em 0;
	/*border-radius: 0.5em;*/
}

/*Slider*/

.slider{
	
	margin: .6em .2em 0 .2em;
}

.titulo
{
	margin: 0 0 0.1em 0;
}

#slides {

    display: none
}


#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(/img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

