a{
	color: #DB9200;
}

body{
	background-image: url('../images/background_2_.png');
	background-repeat : repeat;
}
footer{
	
	font-family: Myriad Pro;
 	font-size: 10px;
  	color: #FFFFFF;
  	color: rgb(255, 255, 255);
  	background: #662C1E;
  	background: rgba(102, 44, 30, 1);
	text-align: center;
	padding: 1em;
}
h1
{
	padding: 0 0 0 0.5em;
	color: #583400;
	font-family: 'Maven Pro', sans-serif;
 	font-size : 1.7em;	
}
header{

	background : #662C1E;
  	background : rgba(102, 44, 30, 1);
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header figure{

	float: left;
}


header #user{
	
	margin: 0.6em 0.5em 0 0;
	right: 0;
	position: absolute;
	top: 0;

}
header #user img{
	margin-left: 1em;
	display: inline-block;
	position: relative;
	width: 50px;

}
header #logo img{

	/*border-right: 1px solid white;*/
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 52px;
	
}

nav{

	margin 0;
}

nav ul{

	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul #propiedades{

	/*background: #009DA6;*/
	border-radius: 0.3em;

}

nav ul li{

	display: inline-block;
	margin: 0.7em 0.5em 0 0;
}
nav ul li a{
	font-family: 'Ubuntu Condensed', sans-serif;
	color: white;
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}



.tabs{

	background: olive;
	margin: 0;
	
}
.tabs ul{

	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs ul li{

	display: inline-block;
	margin: 0 1em 0 1em;

}

.tabs ul li #active{
	background: #519244;
	border-bottom: 0.1em;
	color: white;
	padding: 0 0.2em 0 0.2em;
}


.tabs ul li a{
	font-family: 'Ubuntu Condensed', sans-serif;
	color: white;
	text-decoration: none;
}


.inmueble img{

	height: 130px;
	width: 200px;
}

.youtube-player {
	display: block;
	margin: 0 auto;
}

#contenido{

	margin: 1em;

}

#contenido .descripcion{

	background: white;
	margin-bottom: 3em;
	border-radius: 0.5em;
	border-bottom: 3px solid #662C1E;
	position: relative;
}

#contenido .descripcion .caracteristicas{
	
	padding: 0.3em 0 0.3em 2em;
	margin: 0.2em 0.5em 0.4em 0.5em;
	background: #FFE188;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
}

#contenido .descripcion .titulo_descripcion{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 1.4em;
	padding: 0 0 0 0.2em;
	color: #583400;
}

#contenido .descripcion .contenido_descripcion{
	font-family: 'Ubuntu Condensed', sans-serif;
	text-align: left;
	padding: 0 0 0.3em 2em;
}

#contenido .descripcion .datos_persona
{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 3%;
	margin-top: 3px; 
	padding: 0.5em 1em;
	position: absolute;
	right: 3%;
	top: 100%;
	box-shadow: rgba(0,0,0,0.5) 5px 2px 10px;
}

#contenido .descripcion .descripcion_precio{

	font-family: 'Ubuntu Condensed', sans-serif;
	background: #232323;
	color: white;
	padding: 0.5em;
	margin: 0 0 0.3em 0.5em;
	display: inline-block;
	box-shadow: rgba(0,0,0,0.5) 5px 2px 10px;
}


#contenido .descripcion .descripcion_tipo{

	font-family: 'Ubuntu Condensed', sans-serif;
	background: #885015;
	color: white;
	display: inline-block;
	margin: 0 .5em .3em 0;
	padding: 0.5em;
	float: right;
	text-decoration: none;
	box-shadow: rgba(0,0,0,0.5) 5px 2px 10px;
}
#contenido .descripcion .descripcion_tipo a{
	
	font-family: 'Ubuntu Condensed', sans-serif;
	text-decoration: none;
	color: white;
}

#contenido .descripcion .datos_persona .nombre{
	font-family: 'Ubuntu Condensed', sans-serif;
	text-decoration: none;
	color: #000;
}
#contenido .descripcion .datos_persona .correo
{
	float: right;
	color: #000;
	text-decoration: none;
}

#contenido .descripcion .telefono{

	background: #D6CCBD;
	text-align: center;
	font-size: 1.2em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	box-shadow: rgba(0,0,0,0.5) 0px 1px 5px;
}

#contenido .item{
	font-family: 'Ubuntu Condensed', sans-serif;
	background: white;
	border-bottom: 3px solid #662C1E;
	margin-bottom: 1em;
	overflow: hidden;
}
#contenido .item .datos_item{
	font-family: 'Ubuntu Condensed', sans-serif;
	text-align: right;
}
#contenido .item .datos_item .tipo{
	font-family: 'Ubuntu Condensed', sans-serif;
	background: #885015;
	color: white;
	display: inline-block;
	margin: 0 .3em .1em 0;
	padding: 0.5em;
	text-decoration: none;
}
#contenido .item .estado_item{
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #aaa;
}
#contenido .item .imagen_item{

	float: left;
	margin: 0 1em 0 0;
}

#contenido .item .imagen_item img{
	margin: 0.2em 0 0 0.2em;
	width: 96px;
	height: 125px;
}

#contenido .item .titulo_item{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 1.2em;
}

#contenido .item .titulo_item a{
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #444;
	text-decoration: none;
}

#buscador{
	font-family: 'Ubuntu Condensed', sans-serif;
	display: block;
	background: #D6CCBD;
	padding: 0 0 0.2em 0;
	position: relative;
	overflow: hidden;
}

#buscador a img{

	/*border-radius: 50px;*/
	display: inline-block;
	margin: 0.2em .5em 0.2em 0.2em;
	position: absolute;
	right: 0;
}

#fbuscar{
	font-family: 'Share Tech Mono', ;
	display: inline-block;
	font-size: 1.3em;
	margin: .1em 0 0 0.5em; 
}

#buscar{
	
	margin: .5em 0 0.2em 1em;
	padding: .2em 1em 0.2em 0;
	/*border-radius: 0.5em;*/
}


#email{
	
	margin: .5em 0 0.2em 1em;
	padding: .2em 1em 0.2em 0;
	/*border-radius: 0.5em;*/
}
#owl-demo{

	margin-top: 0.5em;
}

#owl-demo .item{

  margin: 0.1em;
}
#owl-demo .item img{

  display: block;
  height: 200px;
  width: 100%;
}

.mapa{

	margin: 0.2em  0.5em 0.2em 0.5em;
}

.message_error{
	font-family: 'Ubuntu Condensed', sans-serif;
	border-radius: 0.5em;
	margin: 1em 1em 0 1em;
	box-shadow: 0.5em;
	background: #FFE188;
	box-shadow: rgba(0,0,0,0.5) 5px 10px 5px;
	text-align: center;
	font-size: 1.3em;
}

.nav_admin{

	margin: 1em 0 0 0;
	
	
}
.nav_admin ul{

	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav_admin ul li{

	display: inline-block;
	margin: 0.7em 0.5em 0 0;
}

.nav_admin ul li .inmuebles{
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #583400;
	display: block;
	padding: 0.3em 2em 0.2em 2em;
	text-decoration: none;
	/*text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;*/
	font-size: 2em;
	box-shadow: rgba(0,0,0,0.5) 5px 10px 5px;
	background: #FFE188;
	border-radius: 0.5em;
}
.nav_admin ul li .noticias {
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #1E1E1E;
	display: block;
	padding: 0.3em 2em 0.2em 2em;
	box-shadow: rgba(0,0,0,0.5) 5px 10px 5px;
	text-decoration: none;
	/*text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;*/
	font-size: 2em;
	background: #FFE188;
	border-radius: 0.5em;
}








