a{
	color: #22BCE0;
}

body{
	background-image : url('../images/background_2_.png');
	background-repeat : no-repeat;
}
footer{
	
	font-family : Myriad Pro;
 	font-size : 10px;
  	color : #FFFFFF;
  	color : rgb(255, 255, 255);
  	background : #662C1E;
  	background : rgba(102, 44, 30, 1);
	text-align: center;
	padding: 1em;
}

header{

	background : #662C1E;
  	background : rgba(102, 44, 30, 1);
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header figure{

	float: left;
}


header #user{
	
	margin: 0.6em 0.5em 0 0;
	right: 0;
	position: absolute;
	top: 0;

}
header #user img{
	margin-left: 1em;
	display: inline-block;
	position: relative;
	width: 50px;

}
header #logo img{

	/*border-right: 1px solid white;*/
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 52px;
	
}

nav{

	margin 0;
}

nav ul{

	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul #propiedades{

	/*background: #009DA6;*/
	border-radius: 0.3em;

}

nav ul li{

	display: inline-block;
	margin: 0.7em 0.5em 0 0;
}
nav ul li a{

	color: white;
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}



.tabs{

	background: olive;
	margin: 0;
	
}
.tabs ul{

	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs ul li{

	display: inline-block;
	margin: 0 1em 0 1em;

}

.tabs ul li #active{
	background: #519244;
	border-bottom: 0.1em;
	color: white;
	padding: 0 0.2em 0 0.2em;
}


.tabs ul li a{
	color: white;
	text-decoration: none;
}


.inmueble img{

	height: 130px;
	width: 200px;
}

#contenido{

	margin: 1em;
}

#contenido .descripcion{

	background: white;
	border-bottom: 3px solid #662C1E;
}

#contenido .descripcion .titulo_descripcion{
	
	font-size: 1.4em;
	padding: 0.5em 0 0 0.2em;
	color: #583400;
}

#contenido .descripcion .contenido_descripcion{
	text-align: left;
	padding: 0 0 0.3em 2em;
}

#contenido .item{

	background: white;
	border-bottom: 3px solid #662C1E;
	margin-bottom: 1em;
	overflow: hidden;
}
#contenido .item .datos_item{
	text-align: right;
}
#contenido .item .datos_item .tipo{
	background: #885015;
	color: white;
	display: inline-block;
	margin: 0 .3em .1em 0;
	padding: 0.5em;
	text-decoration: none;
}
#contenido .item .estado_item{

	color: #aaa;
}
#contenido .item .imagen_item{

	float: left;
	margin: 0 1em 0 0;
}

#contenido .item .imagen_item img{
	margin: 0.2em 0 0 0.2em;
	width: 96px;
	height: 125px;
}

#contenido .item .titulo_item{

	font-size: 1.2em;
}

#contenido .item .titulo_item a{

	color: #444;
	text-decoration: none;
}

#buscador{

	display: block;
	background: #D6CCBD;
	padding: 0 0 0.2em 0;
	position: relative;
	overflow: hidden;
}

#buscador a img{

	/*border-radius: 50px;*/
	display: inline-block;
	margin: 0.2em .5em 0.2em 0.2em;
	position: absolute;
	right: 0;
}

#fbuscar{
	
	display: inline-block;
	font-size: 1.3em;
	margin: .1em 0 0 0.5em; 
}

#buscar{
	
	margin: .5em 0 0.2em 1em;
	padding: .2em 1em 0.2em 0;
	/*border-radius: 0.5em;*/
}

#owl-demo{

	margin-top: 0.5em;
}

#owl-demo .item{

  margin: 0.1em;
}
#owl-demo .item img{

  display: block;
  height: 200px;
  width: 100%;
}



