label{

	/*display: block;*/
	margin-bottom: 0.5em;
	padding: 0.1em;
	/*background: red;*/
	/*border-top: 1px solid black;*/
}


.contenedor{
	margin-top: 1em;
	padding-left: 0.5em;
	font-size: 1.2em;
	/*background: white;*/
}

.item{

	/*background: white;*/
	display: block;
	text-align: left;
	margin: 0.3em 0.2em 0.2em 0.2em;

}