/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Share+Tech);

body{
  /*background-color: #00A0B1;*/
  text-align: center; 
  font-family: 'Share Tech', sans-serif; 
  font-style: normal; 
  font-weight: normal; 
  font-size: 24px; 
  color: #000000;
}

:invalid { 
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 50, 255, .5);
}

form {
  color: black;
  padding: 25px;
  width:800px;
  margin: 20px auto;
  font-family: 'Share Tech', sans-serif;
  box-shadow:0 0 5px rgba(0, 70, 255, .8);
}

input {
  font-family: 'Share Tech', sans-serif;
  /*border:1px solid #ccc;
  font-size:20px;
  width:600px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;*/
}

input[type=submit] {
  background: #B7B7B7;
  padding:10px;
  cursor:pointer;
}

/*Web Browsers Placeholder's & Invalid User Interaction*/
:-moz-ui-invalid{
  box-shadow:0px 0px 3pt 2pt red;
}

:-webkit-ui-invalid{
  box-shadow:0px 0px 3pt 2pt red;
}

::-moz-placeholder{
  font-style: italic;
  font-family: 'Share Tech', sans-serif;
}

::-webkit-input-placeholder{
  font-style: italic;
  font-family: 'Share Tech', sans-serif;
}

input:focus{
  box-shadow: 0px 0px 3pt 2pt #6CC;
}

input:valid{
  background-color: #ddffdd;
}

input[type=radio]{
   min-height:5px; 
   margin-right:10px;
}

/*"Input" classes and pseudoclasses*/
input:not([type=radio]){
  font-family: 'Share Tech', sans-serif;
  font-size:18px;
  border:1px solid #CCC;
  width:800px;
  min-height:26px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  margin-right:50px;
  margin-left:0px;

  /*Browsers radius validation*/
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
  z-index:1;
 }

 #telefono{
    border-color: #88a;
    background: none;
    border:1px solid #CCC;
    border-radius:5px;
    box-shadow:0 0 5px rgba(0, 50, 255, .5);
}

#telefono:focus{
  box-shadow: 0px 0px 3pt 2pt #6CC;
}

 #tel{
   background-color: #ddffdd;
   border-color: #88a;
   /*border:1px solid #CCC;*/
}

.selector{
  font-family: 'Share Tech', sans-serif;
  font-size:18px;
  border:1px solid #CCC;
  width:800px;
  min-height:26px;
  /*display:block;*/
  margin-bottom:15px;
  margin-top:5px;
  margin-right:50px;
  margin-left:0px;

  /*Browsers radius validation*/
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 50, 255, .5);

  outline: none;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #E0E0E0;
    color:#292929;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label.selection {position:relative}
label.selection:after {
    content:'<>';
    font:11px "Share Tech", sans-serif;
    color:#292929;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:53px; top:6px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label.selection:before {
    content:'';
    right:53px; top:4px;
    width:20px; height:22px;
    background:#E0E0E0;
    position:absolute;
    pointer-events:none;
    display:block;
}

label.etiqueta {position:relative}
label.etiqueta:after {
    content:'<>';
    font:11px "Share Tech", sans-serif;
    color:#292929;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:-396px; top:-20px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
	z-index:1;
}
label.etiqueta:before {
    content:'';
    right:-400px; top:-23.5px;
    width:20px; height:22px;
    background:#E0E0E0;
    position:absolute;
    pointer-events:none;
    display:block;
	z-index:1;
}


#precio{
	width:90px;
	text-align:left;
	right: -450px;
	margin-left:2000px;
	margin-top: 1065px;
	display:inline-block;
	position:absolute;
}

#price{
  font-family: 'Share Tech', sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:700px;
  margin-bottom:-32.5px;
  margin-right:800px;
  display: inline-block;
  position:relative;
  z-index:1;
}

#opcional{
	color: #CACACA; /*LOL <-mensaje subliminal de "se vana c*gar con nuestra página xD"*/
}

#area{
  width: 100px;
  height: 10px;
  display: none;
}

/*#foto1{
  width: 100px;
  height: 10px;
  display: none;
}*/

#foto2{
  width: 100px;
  height: 10px;
  display: none;
}

#foto3{
  width: 100px;
  height: 10px;
  display: none;
}

